/* use it */
html { font-family: "Jost", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif; }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background-color: #fff;
    color: #0b48ed;
}

html, body{
    height: 100%;
    width: 100%;
}   

#main{
    position: relative;
    overflow: hidden;
    background: #0D34C4;
}

#page1{
    height: 100vh;
    width: 100%;
    position: relative;
}

#page1 nav{
    position: absolute;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

#page1 nav img{
    width: 10%;
}

#page1 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#right-nav button{
    margin-top: 2.5vw;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #0b48ed;
    border: 1px solid #f7f7f7;
    color: #f7f7f7;
    font-size: 1vw;
}

#page1-bottom{
    position: absolute;
    bottom: 18%;
    left: 8%;
    height: 40vh;
    width: 50vw;
    line-height: 1;
    color: #fff;
}

#page1-bottom h1{
    font-size: 6.4vw;
    font-weight: 300;
    line-height: 6.7vw;
    letter-spacing: -.05vw;
}

#bottom-inner{
    height: 40%;
    position: relative;
    bottom: 0;
    width: 100%;
}

#bottom-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#bottom-inner button{
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    background-color: #fff;
    color: #0b48ed;
    font-size: 1.2vw;
}

#bottom-inner h4{
    font-size: 1.4vw;
    font-weight: 400;
}

#page2{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    position: relative;
    padding: 0 8vw;
    color: #fff;
    background-color: #0a3cce;
}

#page2 h2{
    font-weight: 300;
    font-size: 1.1vw;
    margin-bottom: 3vw;
}

#page2 h1{
    font-weight: 400;
    font-size: 4vw;
    line-height: 1.3;
    width: 80%;
    color: #dadada69;
}

#page3{
    height: 100vh;
    width: 100%;
    position: relative;
    background: linear-gradient(to bottom, #0F37C6, #0D36C5);
}

#page4{
    height: 100vh;
    width: 100%;
    position: relative;
    background: linear-gradient(to bottom, #1137ca, #0D36C5);
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}

#page4 h1{
    margin-left: 10vw;
    width: 75%;
    font-size: 3.5vw;
    line-height: 1.4;
    letter-spacing: -.06vw;
    font-weight: 500;
    color: #dadada69;
}

#page4 h3{
    margin-left: 10vw;
    margin-bottom: 2vw;
    font-size: 1.2vw;
    font-weight: 400;
}

#page5{
    height: 100vh;
    width: 100%;
    position: relative;
}

#page5 canvas{
    position: relative;
    max-width: 100%;
    max-height: 100vh;
}

#page6{
    height: 100vh;
    width: 100%;
    position: relative;
    background: linear-gradient(to bottom, #0D34C4, #1137ca);
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}

#page6 h1{
    margin-left: 10vw;
    width: 70%;
    font-size: 3.5vw;
    line-height: 1.4;
    letter-spacing: -.06vw;
    font-weight: 500;
    color: #dadada69;
}

#page6 h3{
    margin-left: 10vw;
    margin-bottom: 2vw;
    font-size: 1.2vw;
    font-weight: 400;
}

#page7{
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #1137ca;
}

#page7 canvas{
    position: relative;
    max-width: 100%;
    max-height: 100vh;
}

#page7-cir{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vw;
    width: 25vw;
    border: 1px solid #fff;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 9;
}

#cir-inner{
    height: 70%;
    width: 70%;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#page8{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #1137ca;
}

#page8 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page8-bottom{
    position: absolute;
    bottom: 10%;
    left: 50%;  
    transform: translateX(-50%);
    text-align: center;
}

#page8-bottom h1{
    font-size: 5vw;
    color: #fff;
    margin-bottom: 1vw;
    font-weight: 500;
}

#page8-bottom button{
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    background-color: #fff;
    color: #0b48ed;
    font-size: 1.2vw;
    cursor: pointer;
}

#page9{
    display: flex;
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #1137ca;
}

#left9{
    height: 100%;
    width: 35%;
    position: relative;
}

#left9 h1{
    position: absolute;
    top: 38%;
    right: 15%;
    transform: translateY(-50%);
    font-size: 4vw;
    font-weight: 400;
    line-height: 1;
    color: #fff;
}

#right9{
    height: 100%;
    width: 65%;
    position: relative;
}

#right9-center{
    height: 65%;
    width: 80%;
    background-color: bisque;
    border-radius: 8px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    background-image: url(https://thisismagma.com/wp-content/uploads/2023/04/magma.wp2.cubdev.com-home-1.jpeg);
    background-size: cover;
    left: 10%;
}

#page10{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #1137ca;
}

#right10{
    height: 100%;
    width: 65%;
    position: relative;
    left: 35%;
}

.right10-inner{
    color: #fff;
    height: 33.33%;
    width: 100%;
}

.right10-inner h1{
    font-size: 2.3vw;
    font-weight: 700;
}

.right10-inner p{
    width: 90%;
    font-size: 1.2vw;
    margin-top: 2vw;
}

#page11{
    position: relative;
    height: 120vh;
    width: 100%;
    background-color: #fff;
}

#page11>h1{
    position: absolute;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    top: 2%;
    left: 10%;
    font-size: 4vw;
    color: #000;
    font-weight: 300;
}

.inner11{
    display: flex;
    top: 18%;
    position: relative;
    margin-bottom: 2vw;
    height: 24%;
    width: 100%;
}

.left11{
    position: relative;
    height: 100%;
    width: 40%;
    left: 4%;
    border-radius: 10px;
    overflow: hidden;
}

.left11 img{
    width: 100%;
    right: 100%;
    object-fit: cover;
}

.right11{
    position: absolute;
    padding-top: 5vw;
    color: #000;
    height: 100%;
    width: 50%;
    left: 50%;
}

.inner11 .right11 h4{
    font-size: 1vw;
    font-weight: 300;
}

.inner11 .right11 h1{
    margin-top: 1.5vw;
    font-size: 2.5vw;
    font-weight: 500;
    line-height: 1;
}

#page12{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #0c2794;
}

#inner12{
    position: absolute;
    top: 35%;
    right: 20%;
    color: #fff;
}

#inner12 h1{
    font-size: 5vw;
}

#inner12 p{
    font-size: 1.3vw;
    font-weight: 300;
}

#page13{
    position: relative;
    height: 50vh;
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 7vw 12vw;
}

#page13 h1{
    font-size: 4vw;
    line-height: 1;
}

#page13 button{
    padding: 15px 20px;
    border: none;
    border-radius: 50px;
    font-size: 1vw;
    background-color: #0C2794;
    color: #fff;
    margin-top: 3vw;
}

#page14{
    position: relative;
    height: 60vh;
    width: 100%;
    background-color: #000;
    color: #fff;
}

.inner14{
    position: relative;
    height: 33.33%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0vw 7vw;
    border-top: .5px solid #ffffff5c;
    border-bottom: .5px solid #ffffff48;
}

.inner14 i{
    position: relative;
    font-weight: 100;
    font-size: 2.4vw;
    z-index: 9999;
}

.inner14 h1{
    font-size: 3vw;
    font-weight: 400;
    position: relative;
    z-index: 9999;
}

.center14{
    position: absolute;
    height: 0%;
    width: 100%;
    background-color: #0C2794;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all ease .5s;
}

.inner14:hover .center14{
    height: 100%;
}