/* use it */
html { font-family: "Jost", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif; }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background-color: #fff;
    color: #0b48ed;
}

html, body{
    height: 100%;
    width: 100%;
}   

#main{
    position: relative;
    overflow: hidden;
    background: #0B2FC1;
}

#page1{
    height: 100vh;
    width: 100%;
    position: relative;
}

#page1 nav{
    position: absolute;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

#page1 nav img{
    width: 10%;
}

#page1 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#right-nav button{
    margin-top: 2.5vw;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #0b48ed;
    border: 1px solid #f7f7f7;
    color: #f7f7f7;
    font-size: 1vw;
}

#page1-bottom{
    position: absolute;
    bottom: 18%;
    left: 8%;
    height: 40vh;
    width: 50vw;
    line-height: 1;
    color: #fff;
}

#page1-bottom h1{
    font-size: 6.4vw;
    font-weight: 300;
    line-height: 6.7vw;
    letter-spacing: -.05vw;
}

#bottom-inner{
    height: 40%;
    position: relative;
    bottom: 0;
    width: 100%;
}

#bottom-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#bottom-inner button{
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    background-color: #fff;
    color: #0b48ed;
    font-size: 1.2vw;
}

#bottom-inner h4{
    font-size: 1.4vw;
    font-weight: 400;
}

#page2{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    position: relative;
    padding: 0 8vw;
    color: #fff;
    background-color: #0a3cce;
}

#page2 h2{
    font-weight: 300;
    font-size: 1.1vw;
    margin-bottom: 3vw;
}

#page2 h1{
    font-weight: 400;
    font-size: 4vw;
    line-height: 1.3;
    width: 80%;
    color: #dadada69;
}

#page3{
    height: 100vh;
    width: 100%;
    position: relative;
}

#page4{
    height: 100vh;
    width: 100%;
    position: relative;
    background: linear-gradient(to bottom, #1137ca, #0D36C5);
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}

#page4 h1{
    margin-left: 10vw;
    width: 75%;
    font-size: 3.5vw;
    line-height: 1.4;
    letter-spacing: -.06vw;
    font-weight: 500;
    color: #dadada69;
}

#page4 h3{
    margin-left: 10vw;
    margin-bottom: 2vw;
    font-size: 1.2vw;
    font-weight: 400;
}

#page5{
    height: 100vh;
    width: 100%;
    position: relative;
}

#page5 canvas{
    position: relative;
    max-width: 100%;
    max-height: 100vh;
}

#page6{
    height: 100vh;
    width: 100%;
    position: relative;
    background: linear-gradient(to bottom, #0B2FC1, #1137ca);
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}

#page6 h1{
    margin-left: 10vw;
    width: 70%;
    font-size: 3.5vw;
    line-height: 1.4;
    letter-spacing: -.06vw;
    font-weight: 500;
    color: #dadada69;
}

#page6 h3{
    margin-left: 10vw;
    margin-bottom: 2vw;
    font-size: 1.2vw;
    font-weight: 400;
}

#page7{
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #1137ca;
}